#common settings
#string value indicating if the application runs in "production", "test", "development" environment 
image.similarity.environment=development

#used only in production environment

# solr connection settings
# core search (default) 
solr.image.similarity.url = http://localhost:8983/solr/entity

solr.image.similarity.timeout = 60000
solr.image.similarity.facetLimit=750

#placeholder to store generation timestamp
image.similarity.properties.timestamp=-1